@media (max-width: 768px) {

    /* aspectos generales */

    .contenedor {
        padding: 2vh;
    }

    .seccion-comienzo .cont-texto {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}