@media (max-width: 768px) {

    /* aspectos generales */

    .contenedor {
        padding: 1vh;
    }

    .seccion-comienzo p {
        display: flex;
        justify-content: center;
        align-items: center;
    }



}