/* importaciones */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* aspectos generales */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    gap: 5vh;
}

.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.btn, .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 5vh;
    font-size: 18px;
    border: none;
    transition: .2s;
    background-color: rgb(235, 235, 235);
}

.input {
    padding: 1vh;
    border-bottom: 1px solid #000;
}

.btn:hover {
    cursor: pointer;
    transition: .2s;
    background-color: rgb(204, 204, 204);
}

/* cuando habla el bot */

@keyframes parpadeo{ 
  50%{opacity:0;}
}

.texto::after{
  content: "|";
  animation: parpadeo 1s;
}

.sin-cursor::after{
  content: "";
}

.bot-hablando {
    display: none;
    justify-content: center;
    transform: rotate(180deg);
}

.bot-hablando.activo {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
}

.bot-hablando span {
    display: inline-block;
    width: 40px;
    height: 50px;
    margin: 1px;
    border-radius: 30%;
    background: rgb(0, 0, 0);
    animation: hablar 0.6s infinite ease-in-out;
}

.bot-hablando span:nth-child(2) { animation-delay: 0.7s; }
.bot-hablando span:nth-child(3) { animation-delay: 0.2s; }

@keyframes hablar {
    0%,100% { height: 6px; }
    50% { height: 50px; }
}

.hablando {
    animation: respirar 1s infinite;
}

@keyframes respirar {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* comienzo */

#cont-comienzo .logo {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#cont-comienzo img {
    width: 15vh;
}

#cont-comienzo .seccion-comienzo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin-bottom: 5vh;
}

#cont-comienzo p::after{
  content: "|";
  animation: parpadeo 1s infinite;
}

/* form nombre */

#form-nombre {
    display: none;
}

#cont-form-nombre {
    display: none;
}

#cont-form-nombre p {
    font-size: 36px;
}

#textoDos {
    display: none;
}

#btn-continuar {
    display: none;
}

/* form info */

#cont-form-info {
    display: none;
}

#form-info {
    display: none;
}

.cont-btns {
    display: flex;
    gap: 2vh;
}

#form-info .cont-info {
    display: flex;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}

#form-info .cont-info .btn-info {
    background-color: rgb(247, 247, 247);
    width: 22vh;
}

#form-info .cont-info .btn-info:hover {
    background-color: rgb(255, 92, 92);
}

.btn-info::after {
    content: "✖";
    margin-left: 8px;
    opacity: 0;
    transition: opacity 0.2s;
}

.btn-info:hover::after {
    opacity: 1;
}